/*--------------------------------
    パンくずリスト
--------------------------------*/
.bl_breadcrumb { //パンくずリスト
    overflow-x: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    @include fontSize(14);
    & > ul {
        @include contentArea;
        display: flex;
        // flex-wrap: wrap;
        margin-bottom: -5px;
		justify-content: end;
        & > li {
            white-space: nowrap;
            margin-right: 10px;
            margin-bottom: 5px;
			a {
				text-decoration: none;
				color: #999999;
			}
			.el_home {
				color: #999999;
			}
            & .bl_breadcrumb_sep {
                margin-right: 10px;
            }
        }
    }
}