/*--------------------------------
    フォーム基本スタイル
--------------------------------*/
.bl_inquiry{
    input,
    select,
    textarea { //入力エリア
        background-color: #fff;
        border-radius: 0;
    }
    th {
        width: 25%;
        font-weight: bold;
        @include fontSize(14);
        text-align: left;
        vertical-align: top;
        padding-right: .5em;
        padding-bottom: .5em;
    }
    td {
        padding-bottom: 2em;
        > span {
            display: block;
            * {
                margin-left: 0;
            }
            input:not([type = "checkbox"]):not([type = "radio"]),
            textarea {
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
            }
        }
    }
    th,
    td {
        @include media(sm) {
            width: 100%;
            display: block;
        }
    }
    .ajax-loader {
        display: none!important;
    }
}

/*--------------------------------
    選択エリア
--------------------------------*/
/*------ ドロップダウン -------*/
.drop option:first-child{
    color: #ddd;
}

/*------ ラジオボタンを縦並び指定 -------*/
.verticallist .wpcf7-list-item{
    display:block;
}

/*--------------------------------
    placeholderのフォントカラー指定
--------------------------------*/
/*------ Chrome, Safari -------*/
input::-webkit-input-placeholder{
    color: #CCCCCC;
}
textarea::-webkit-input-placeholder{
    color: #CCCCCC;
}

/*------ Firefox -------*/
input::-moz-placeholder{
    color: #CCCCCC;
}
textarea::-moz-placeholder{
    color: #CCCCCC;
}

/*------ Firefox 18以前 -------*/
input:-moz-placeholder{
    color: #CCCCCC;
}
textarea:-moz-placeholder{
    color: #CCCCCC;
}

/*--------------------------------
    バリデーションスタイル
--------------------------------*/
.formError{
    margin-top: 10px!important;
    display: block!important;
}
.formError .formErrorContent{
    background: #FFEBEA;
    border: solid 1px #FF8376!important;
    color: #FF8376;
    font-size: 12px;
}