/*--------------------------------
    ヘッダー固定ナビゲーション
--------------------------------*/
.bl_stickyNav_wrapper {
    transition: 1s;
    top: -100px;
    visibility: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    @include media(sm) {
        display: none;
    }
}

.bl_stickyNav {
    display: flex;
    justify-content: space-between;
    @include fontSize(14);
    & > li {
        flex-grow: 1;
        text-align: center;
        &:last-child > a::after {
            content: none;
        }
        & > a {
            position: relative;
            display: block;
            padding: 1em .357em;
            color: $base_fontColor;
            font-weight: bold;
            text-decoration: none;
            transition: .25s;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: #ddd;
                transform: translateY(-50%);
            }
            &::before {
                content: '';
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $base_fontColor;
                transition: .3s;
            }
            &:focus::before,
            &:hover::before {
                width: 100%;
            }
        }
    }
}

.bl_stickyNav_wrapper.is_scroled { //スクロール発火によるヘッダー固定ナビ
    visibility: visible;
    top: 0;
}

body.admin-bar .bl_stickyNav_wrapper.is_scroled { //ログイン時の位置調整（アドミンバー対策）
    top: 32px;
}