/*--------------------------------
    順序なしリスト
--------------------------------*/
.bl_bulletList > *:last-child {
    margin-bottom: 0;
}
.bl_bulletList > li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 10px;
    &::before {
        content: '';
        position: absolute;
        top: .5em;
        left: 0;
        display: block;
        width: .4em;
        height: .4em;
        background-color: $theme_color;
        border-radius: 50%;
    }
}

/*------ 横並び -------*/
.bl_bulletList.bl_bulletList__horiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -10px;
    & > li {
        flex: calc(50% - 5px);
        margin-right: 10px;
        &:nth-of-type(even) {
            margin-right: 0;
        }
    }
}

/*------ ネスト -------*/
.bl_bulletList ul {
    padding-left: 1.5em;
    margin-top: 10px;
    list-style-type: circle;
    & > *:last-child{
        margin-bottom: 0;
    }
    & > li {
        margin-bottom: 10px;
    }
}

/*--------------------------------
    順序ありリスト
--------------------------------*/
.bl_orderList {
    counter-reset: bl_orderList;
    & > *:last-child{
        margin-bottom: 0;
    }
    & li {
        position: relative;
        padding-left: 1em;
        margin-bottom: 10px;
        &:before {
            content: counter(bl_orderList)'.';
            position: absolute;
            top: 0;
            left: 0;
            color: $theme_color;
            font-weight: bold;
            counter-increment: bl_orderList;
        }
    }
}

/*------ ネスト -------*/
.bl_orderList ol {
    margin-top: 10px;
    counter-reset: bl_childOrderList;
    & > *:last-child{
        margin-bottom: 0;
    }
    & > li {
        position: relative;
        padding-left: 1em;
        margin-top: 10px;
        &::before {
            content: counter(bl_childOrderList)'.';
            position: absolute;
            top: 0;
            left: 0;
            color: $theme_color;
            counter-increment: bl_childOrderList;
        }
    }
}