/*--------------------------------
    縦並びナビゲーション（Footer内利用を想定）
--------------------------------*/
.bl_vertNav {
    display: flex;
    justify-content: start;
    & > li {
        flex: 1;
        text-align: center;
        & *:last-child {
            margin-bottom: 0;
        }
        &:last-child > a:after {
            content: none;
        }
        & > a {
            position: relative;
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 10px;
            color: #FFF;
            text-decoration: none;
            &:focus,
            &:hover {
                text-decoration: underline;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 15px;
                background-color: currentColor;
                transform: translateY(-50%);
            }
        }
        & ul > li { //ネストされたメニュー
            margin-bottom: 10px;
            & > a {
                color: #DDD;
                font-size: 15px;
                text-decoration: none;
                &:focus,
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
