/*--------------------------------
    管理者情報を縦並びで表示
--------------------------------*/
.el_adminInfo {
    color: $footer_fontColor;
    & > *:last-child {
        margin-bottom: 0;
    }
}
.el_adminInfo_data {
    font-size: 0.875em;
    line-height: 1;
    margin-bottom: 0.7142em;
}