//--------------------------------
//  アラインメント
//--------------------------------
.hp_tac {text-align: center;}
.hp_tal {text-align: left;}
.hp_tar {text-align: right;}
.hp_taj {text-align: justify;}
.hp_tall {text-align-last: left;}

//--------------------------------
//  文字装飾
//--------------------------------
//------ テキストサイズ（大） -------//
.hp_txtLg {font-size: 1.2em!important;}
//------ テキストサイズ（小） -------//
.hp_txtSm {font-size: .8em!important;}

//   font-size: 0.75rem;     /* 16px × 0.75     = 12px */
//   font-size: 0.8125rem; /* 16px × 0.8125 = 13px */
//   font-size: 0.875rem;   /* 16px × 0.875   = 14px */
//   font-size: 0.9375rem; /* 16px × 0.9375 = 15px */
//   font-size: 1rem;          /* 16px × 1          = 16px */
//   font-size: 1.0625rem; /* 16px × 1.0625 = 17px */
//   font-size: 1.125rem;   /* 16px × 1.125   = 18px */
//   font-size: 1.1875rem; /* 16px × 1.1875 = 19px */
//   font-size: 1.25rem;     /* 16px × 1.25     = 20px */
//   font-size: 1.3125rem; /* 16px × 1.3125 = 21px */
//   font-size: 1.375rem;   /* 16px × 1.375   = 22px */
//   font-size: 1.4375rem; /* 16px × 1.4375 = 23px */
//   font-size: 1.5rem;       /* 16px × 1.5       = 24px */
//   font-size: 1.5625rem; /* 16px × 1.5625 = 25px */
//   font-size: 1.625rem;   /* 16px × 1.625   = 26px */
//   font-size: 1.6875rem; /* 16px × 1.6875 = 27px */
//   font-size: 1.75rem;     /* 16px × 1.75     = 28px */
//   font-size: 1.8125rem; /* 16px × 1.8125 = 29px */
//   font-size: 1.875rem;   /* 16px × 1.875   = 30px */
//   font-size: 1.9375rem; /* 16px × 1.9375 = 31px */
//   font-size: 2rem;          /* 16px × 2          = 32px */
.hp_fs12 {
	font-size: 0.75rem !important;
	@include media(ta) {
		font-size: 0.75rem !important;
	}
	@include media(sm) {
		font-size: 0.75rem !important;
	}
}
.hp_fs14 {
	font-size: 0.875rem !important;
	@include media(ta) {
		font-size: 0.875rem !important;
	}
	@include media(sm) {
		font-size: 0.875rem !important;
	}
}
.hp_fs16 {
	font-size: 1rem !important;
	@include media(ta) {
		font-size: 0.875rem !important;
	}
	@include media(sm) {
		font-size: 0.875rem !important;
	}
}
.hp_fs18 {
	font-size: 1.125rem !important;
	@include media(ta) {
		font-size: 1rem !important;
	}
	@include media(sm) {
		font-size: 1rem !important;
	}
}
.hp_fs20 {
	font-size: 1.25rem !important;
	@include media(ta) {
		font-size: 1rem !important;
	}
	@include media(sm) {
		font-size: 1rem !important;
	}
}
.hp_fs22 {
	font-size: 1.375rem !important;
	@include media(ta) {
		font-size: 1.25rem !important;
	}
	@include media(sm) {
		font-size: 1.25rem !important;
	}
}
.hp_fs24 {
	font-size: 1.5rem !important;
	@include media(ta) {
		font-size: 1.25rem !important;
	}
	@include media(sm) {
		font-size: 1.25rem !important;
	}
}
.hp_fs26 {
	font-size: 1.625rem !important;
	@include media(ta) {
		font-size: 1.25rem !important;
	}
	@include media(sm) {
		font-size: 1.25rem !important;
	}
}
.hp_fs28 {
	font-size: 1.75rem !important;
	@include media(ta) {
		font-size: 1.5rem !important;
	}
	@include media(sm) {
		font-size: 1.5rem !important;
	}
}
.hp_fs30 {
	font-size: 1.875rem !important;
	@include media(ta) {
		font-size: 1.5rem !important;
	}
	@include media(sm) {
		font-size: 1.5rem !important;
	}
}
.hp_fs32 {
	font-size: 2rem !important;
	@include media(ta) {
		font-size: 1.5rem !important;
	}
	@include media(sm) {
		font-size: 1.5rem !important;
	}
}

.hp_fwn {
	font-weight: normal !important;
}
.hp_fwb {
	font-weight: bold !important;
}
.el_h2_border {
	@include resetcss;
	font-size: 1.625rem;
	font-weight: bold;
	letter-spacing: 1.3px;
	padding-left: 20px;
	border-left: 1.5px solid #333;
	@include media(sm) {
		font-size: 1.5rem;
		padding-left: 10px;
		letter-spacing: unset;
	}
}