//--------------------------------
//  アラインメント
//--------------------------------
.hp_tac {text-align: center;}
.hp_tal {text-align: left;}
.hp_tar {text-align: right;}
.hp_taj {text-align: justify;}
.hp_tall {text-align-last: left;}

//--------------------------------
//  文字装飾
//--------------------------------
//------ テキストサイズ（大） -------//
.hp_txtLg {font-size: 1.2em!important;}
//------ テキストサイズ（小） -------//
.hp_txtSm {font-size: .8em!important;}