.ly_greeting {
	@include resetcss;
	@include contentAreaFullWidth;
	.ly_greeting_inner {
		@include contentArea;
		.bl_greeting {
			.bl_greeting_inner {
				.bl_greeting_inner_right {
					@include media(sm) {
						margin-top: 20px;
					}
					.bl_greeting_rubi {
						margin-bottom: 10px;
					}
					.bl_greeting_h3 {
						margin-bottom: 40px;
						@include media(sm) {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.bl_greeting {
	.bl_greeting_inner {
		display: flex;
		justify-content: space-between;
		@include media(sm) {
			display: block;
		}
		.bl_greeting_inner_left {
			width: 34.18803%;
			@include media(sm) {
				width: 50%;
				margin: 0 auto;
			}
		}
		.bl_greeting_inner_right {
			width: 58.97435%;
			@include media(sm) {
				width: 100%;
			}
			.bl_greeting_rubi {
				color: #2996DE;
				font-size: 0.875rem;
				position: relative;
				padding-left: 40px;
				&::before {
					position: absolute;
					top: calc(50% - 1px);
					left: 0;
					width: 30px;
					height: 2px;
					content: '';
					background: #3397DC;
				}
				.bl_greeting_rubi_txt {
					color: #333;
				}
			}
			.bl_greeting_h3 {
				font-size: 2rem;
				font-weight: normal;
				@include media(sm) {
					font-size: 1.5rem;
				}
			}
			.bl_greeting_txt {
				@include media(sm) {
					font-size: 0.875rem;
				}
			}
			span.bl_greeting_txt_fs14n {
				font-size: 0.875rem;
			}
			span.bl_greeting_txt_fs16b {
				font-size: 1rem;
				font-weight: bold;
			}
		}
	}
}