.ly_post_card {
	@include resetcss;
	.ly_post_card_wrapper {
		.ly_post_card_inner {
			&.ly_post_card_inner__col2 {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: -60px;
				@include media(smmd) {
					margin-bottom: -20px;
				}
				& > .bl_post_card {
					width: 47.05882%;
					margin-right: 5.88235%;
					margin-bottom: 60px;
					@include media(smmd) {
						width: 100%;
						margin-right: 0;
						margin-bottom: 20px;
					}
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					figure {
						& > img {
				
						}
					}
					.bl_icon {
						width: 56px;
						height: 56px;
						& > img {
				
						}
					}
					.bl_post_card_body {
						p.bl_date {
							margin-bottom: 15px;
						}
						h3.bl_post_card_ttl {
							margin-bottom: 20px;
						}
						p.bl_post_card_cat {
						}
					}
				}
			}
			&.ly_post_card_inner__col3 {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: -60px;
				@include media(smmd) {
					margin-bottom: -20px;
				}
				& > .bl_post_card {
					width: 30.76923%;
					margin-right: 3.846153%;
					margin-bottom: 60px;
					@include media(smmd) {
						width: 100%;
						margin-right: 0;
						margin-bottom: 20px;
					}
					&:nth-of-type(3n) {
						margin-right: 0;
					}
					figure {
						& > img {
				
						}
					}
					.bl_icon {
						width: 56px;
						height: 56px;
						& > img {
				
						}
					}
					.bl_post_card_body {
						time.bl_date {
							margin-bottom: 15px;
						}
						h3.bl_post_card_ttl {
							margin-bottom: 20px;
						}
						p.bl_post_card_cat {
						}
					}
				}
			}
		}
	}
}

.bl_post_card {
	position: relative;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	color: #333;
	figure {
		overflow: hidden;
		max-height: 203px;
    	height: 100%;
		& > img {

		}
	}
	.bl_icon {
		position: absolute;
		width: 56px;
		height: 56px;
		border: 3px solid #fff;
		border-radius: 50%;
		overflow: hidden;
		top: 203px;
		right: 30px;
		transform: translateY(-50%);
		& > img {

		}
	}
	.bl_post_card_body {
		padding: 20px 30px 30px 30px;
		time.bl_date {
			color: #999999;
			margin-bottom: 15px;
		}
		h3.bl_post_card_ttl {
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 20px;
		}
		p.bl_post_card_cat {
			font-size: 0.75rem;
			display: inline-block;
			border: 2px solid #000;
			padding: 5px 15px;
			font-weight: bold;
		}
	}
}
a.bl_post_card {
	display: block;
	color: currentColor;
	text-decoration: none;
	transition: .25s;
	&:hover > figure {
		& >img {
			transform: scale(1.1);
			transition-duration: .3s;
		}
	}
		
	& > h3,
	& > p {
		transition: .25s;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		border: 1px solid #999;
	}
	&:hover h3,
	&:focus h3,
	&:hover p,
	&:focus p {
		color: currentColor;
		text-decoration: underline;
	}
}