.ly_service {
	@include resetcss;
	@include contentAreaFullWidth;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
	@include media(sm) {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.ly_service_wrapper {
		@include contentArea;
		.el_h2_ruby {
			margin-bottom: 15px;
			border-color: #fff;
			@include media(sm) {
				margin-bottom: 10px;
			}
		}
		.el_h2 {
			margin-bottom: 60px;
			@include media(sm) {
				margin-bottom: 30px;
			}
		}
		.ly_service_inner {
			display: flex;
			justify-content: space-between;
			.ly_service_inner_left,
			.ly_service_inner__right {
				width: 50%;
			}
			.ly_service_inner_left {
				@include media(smmd) {
					width: 60%;
				}
				@include media(sm) {
					width: 100%;
				}
				.el_service_h3 {
					margin-bottom: 40px;
					@include media(sm) {
						margin-bottom: 20px;
					}
				}
				.el_service_txtarea {
					margin-bottom: 60px;
					@include media(sm) {
						margin-bottom: 40px;
					}
				}
				.el_btn {
					@include media(smmd) {
						width: 100%;
					}
				}
			}
			.ly_service_inner_right {
				@include media(smmd) {
					width: 40%;
				}
				@include media(sm) {
					display: none;
				}
			}
		}
	}
}

p.el_h2_ruby {
	font-size: 0.875rem;
	border-top: 1px solid #333333;
	line-height: 25px;
}

h2.el_h2 {
	font-size: 2.875rem;
	letter-spacing: 2.3px;
	font-weight: bold;
	@include media(sm) {
		font-size: 2rem;
	}
}

h3.el_service_h3 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 60px;
	@include media(sm) {
		line-height: unset;
		font-size: 1.5rem;
	}
}

p.el_service_txtarea {
	font-weight: normal;
	line-height: 29px;
	@include media(sm) {
		font-size: 0.875rem;
	}
}