.ly_strength {
	@include resetcss;
	@include contentAreaFullWidth;
	.ly_strength_wrapper {
		@include contentArea;
		.ly_strength_inner {
			.bl_strength {
				border-bottom: 1px solid #DDDDDD;
				padding-top: 60px;
				padding-bottom: 40px;
				@include media(sm) {
					flex-flow: column-reverse;
				}
				&:last-child {
					border: none;
				}
				&:nth-child(2n) {
					flex-flow: row-reverse;
					flex-flow: column-reverse;
				}
			}
			.bl_strength_number {
				margin-bottom: 20px;
				@include media(sm) {
					margin-bottom: 10px;
				}
			}
			.bl_strength_h3 {
				margin-bottom: 40px;
				@include media(sm) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.bl_strength {
	display: flex;
	justify-content: space-between;
	.bl_strength_left,
	.bl_strength_right {
		width: 47.435%;
		@include media(sm) {
			width: 100%;
		}
	}
	.bl_strength_left {
		.bl_strength_number {
			color: #2996DE;
			font-size: 0.875rem;
			position: relative;
			padding-left: 40px;
			&::before {
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 30px;
				height: 2px;
				content: '';
				background: #2996DE;
			}
		}
		.bl_strength_h3 {
			font-size: 2rem;
			line-height: 60px;
			font-weight: normal;
			@include media(sm) {
				font-size: 1.5rem;
			}
		}
		.bl_strength_txt {
			font-weight: normal;
			@include media(sm) {
				letter-spacing: 1px;
			}
		}
	}
}