.ly_subsidy_caution {
	@include resetcss;
	@include contentAreaFullWidth;
	.ly_subsidy_caution_inner {
		@include contentArea;
	}
}

.bl_subsidy_caution {
	.bl_subsidy_caution_wrapper {
		padding: 20px 60px;
		background-color: #F6F6F6;
		@include media(smmd) {
			padding: 20px 40px;
		}
		.bl_subsidy_caution_inner {
			padding: 40px 0;
			border-bottom: 1px solid #DDDDDD;
			@include media(smmd) {
				padding: 20px 0;
			}
			&:last-child {
				border-bottom: none;
			}
			h3 {
				font-size: 1.375rem;
				letter-spacing: 1.1px;
				font-weight: bold;
				margin-bottom: 30px;
				@include media(smmd) {
					margin-bottom: 20px;
				}
			}
			p {
				
			}
		}
	}
}