.ly_thanks {
	@include resetcss;
	.ly_thanks_wrapper {
		@include contentAreaFullWidth;
		.ly_thanks_inner {
			@include contentArea;
			max-width: 1170px;
			padding: 60px 95px;
			@include media(sm) {
				padding: 30px;
			}
			.ly_thanks_inner_txts {
				margin-bottom: 60px;
				@include media(sm) {
					margin-bottom: 30px;
				}
				.ly_thanks_inner_h {
					font-size: 2rem;
					font-weight: normal;
					margin-bottom: 60px;
					text-align: center;
					@include media(sm) {
						font-size: 1.5rem;
						margin-bottom: 30px;
					}
				}
				.ly_thanks_inner_txt {
					@include media(sm) {
						font-size: 0.875rem;
					}
				}
			}
		}
		.ly_thanks_bottom {
			@include contentArea;
			background-color: #f6f6f6;
			padding-top: 60px;
			padding-bottom: 60px;
			.ly_thanks_bottom_inner {
				margin: 0 auto;
				text-align: center;
				.el_btn {
					max-width: 420px;
					margin: 15px 32px;
					background: #151515;
					color: #fff;
					@include  media(smmd) {
						max-width: 100%;
						margin: unset;
						margin-bottom: 20px;
					}
					&:focus,
					&:hover {
						background-color: #fff;
						border-color: currentColor;
						color: #151515;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.el_thanks_cta {
	border: 1px solid #ddd;
	.el_thanks_cta_inner {
		display: flex;
		padding: 40px 60px;
		align-items: center;
		@include media(sm) {
			display: block;
			padding: 15px;
			text-align: center;
		}
		.el_thanks_cta_inner_left {
			width: 33.67346%;
			@include media(sm) {
				width: 100%;
				margin-bottom: 10px;
			}
			p {
				font-size: 0.875rem;
				margin-bottom: 10px;
				@include media(sm) {
					margin-bottom: 0px;
				}
			}
			span {
				font-size: 0.875rem;
			}
			

		}
		.el_thanks_cta_inner_right {
			width: auto;
			.el_thanks_cta_call {
				font-size: 3rem;
				@include media(sm) {
					font-size: 1.625rem;
					display: inline-flex;
					align-items: center;
				}
			}
			svg {
				@include media(sm) {
					width: 35px;
				}
			}
		}
	}
}