.ly_works_table {
	@include resetcss;
	@include contentAreaFullWidth;
	.ly_works_table_wrapper {
		@include contentArea;
		.ly_works_table_inner {
			max-width: 980px;
			background-color: #F6F6F6;
			padding: 25px 45px;
			margin: 0 auto;
			@include media(sm) {
				padding: 15px 10px;
			}
		}
	}
}
table {
	&.bl_works_table {
		max-width: 860px;
		margin: 0 auto;
		width: 100%;
		tr {
			border-bottom: 1px solid #ddd;
			&:last-child {
				border-bottom: unset;
			}
			th, td {
				padding: 22px 0;
				text-align: left;
				@include media(smmd) {
					white-space: normal !important;
				}
			}
			th {
				width: 24.18604%;
				font-size: 0.875rem;
				font-weight: bold;
				@include media(sm) {
					width: 30%;
					margin-right: 10px;
				}
			}
			td {
				width: auto;
				@include media(sm) {
					font-size: 0.875rem;
				}
			}
		}
	}
}