/*--------------------------------
    サイト全体エリア
--------------------------------*/
.ly_siteBody { //ドロワーメニュー制御用
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.ly_siteBody_inner { //ドロワーメニュー制御用
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

/*--------------------------------
    コンテンツエリア
--------------------------------*/
/*------ 1カラム -------*/
.ly_cont { //基本コンテンツエリア
    @include contentArea;
    width: 100%;
    flex: 1;
}

.ly_cont_main {
    & > *:first-child{
        margin-top: 0;
    }
}

.ly_bgcolor {
	background-color: #f6f6f6;
}

.ly_cont__thanks {
	width: unset;
    max-width: unset;
    padding-right: unset;
    padding-left: unset;
	@include contentAreaFullWidth;
	background-color: #f6f6f6;
	padding-top: 80px;
	padding-bottom: 60px;
	.ly_cont_main {
		@include contentArea;
		background-color: #fff;
	}
}

/*------ 2カラム -------*/
.ly_cont.ly_cont__col { //2カラムレイアウト
    display: flex;
    justify-content: space-between;
    @include media(sm){
        flex-direction: column;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    & .ly_cont_main { //メインバー
        flex: 1;
        @include media(sm){
            margin-bottom: 50px;
        }
    }
    & .ly_cont_side { //サイドバー
        flex: 0 0 320px;
        margin-left: 7.264957%;
        @include media(sm){
            margin-left: 0;
        }
    }
}

/*--------------------------------
    特定スラッグ、テンプレート用上下パディング
--------------------------------*/
.ly_cont.ly_cont__single,
.ly_cont.ly_cont__archive,
.ly_cont.ly_cont__404,
.ly_cont.ly_cont__contact,
.ly_cont.ly_cont__price_list,
.ly_cont.ly_cont__privacy-policy {
    padding-top: 80px;
    padding-bottom: 80px;
    @include smSectPadding(o);
}

.ly_cont.ly_cont__contact,
.ly_cont.ly_cont__price_list {
	background-color: #fff;
	margin-top: 60px;
	margin-bottom: 120px;
	border: 1px solid #ddd;
	padding-top: 60px;
	padding-bottom: 60px;
}
.ly_sect_form {

}
.ly_contact_header {
	padding-bottom: 60px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}