/*--------------------------------
    ヘッダー
--------------------------------*/
.ly_header{
    padding: {
        top: 20px;
    }
    border: {
        bottom: 1px solid $base_borderColor;
    }
    &_inner{
        @include contentArea;
		max-width: $content_width_nav;
        @include media(sm) {
            padding-top: 5px;
        }
    }
}

.bl_headerUtils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    & .el_btn { //お問い合わせボタン
		width: auto;
		padding: 10px 37px;
		background: #151515;
		color: #fff;
		&:after {
			content: unset;
		}
		&:focus,
		&:hover {
			background-color: #fff;
			border-color: currentColor;
			color: #151515;
		}
    }
}
.bl_headerNav_wrapper {
	display: none;
	@include media(ov) {
		display: block;
	}
}

.bl_headerNav { //グローバルナビゲーション
    display: flex;
    justify-content: space-between;
    & > li {
        flex-grow: 1;
        text-align: center;
        &:last-child > a::after {
            content: none;
        }
        & > a {
            position: relative;
            display: block;
            padding: 15px 5px;
            border-bottom: 4px solid transparent;
            color: $base_fontColor;
            text-decoration: none;
            transition: .25s;
			font-weight: bold;
            &:focus,
            &:hover {
                border-bottom-color: $base_fontColor;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: #ddd;
                transform: translateY(-50%);
            }
        }
    }
	@include media(sm) {
		display: none;
	}
	&.bl_headerNav__footer {
		justify-content: unset;
		margin-bottom: 30px;
		flex-wrap: wrap;
		& > li {
			flex-grow: unset;
			position: relative;
			border-right: 1px solid #ddd;
			&:last-child {
				border: none;
				margin-right: 0px !important;
			}
			&:first-child a {
				margin-left: 0px;
			}
			&:last-child a {
				margin-right: 0px !important;
			}
			& > a {
				padding: 0px;
				margin: 3px 20px;
				border-bottom: 1px solid transparent;
				font-size: 0.875rem;
				font-weight: normal;
				&::after {
					content: unset !important;
				}
				&:focus,
				&:hover {
					border-bottom-color: $layer_color;
				}
			}
		}
	}
}

.un_siteLogo {
	& > p {
		font-size: 0.875rem;
		margin-bottom: 10px;
	}
	.el_siteLogo {
		width: 200px !important;
	}
}
.ly_headerUtils_inner {
	& > .bl_headerUtils_nav {
		display: flex;
		align-items: center;
		& > .bl_headerNav__pc {
			margin-right: 10px;
			font-weight: bold;
			font-size: 0.875rem;
			li > a {
				padding: 10px !important;
			}
			@include media(ov) {
				display: none;
			}
			& > li > a::after {
				content: none;
			}
		}
		& > .el_btn {
			margin-right: 10px;
		}
		@include media(sm) {
			display: none;
		}
	}
}