//--------------------------------
//  全てのデバイス幅で適用
//--------------------------------
//単位pxごとの絶対値自動生成
$spacePaddingPx: true !default;
$spacePaddingPxEndValue: 10 !default;

@if $spacePaddingPx {
    @for $i from 0 through $spacePaddingPxEndValue {
        .hp_pt#{$i*5} {padding-top: 5px * $i !important;}
        .hp_pb#{$i*5} {padding-bottom: 5px * $i !important;}
    }
}

//単位emごとの絶対値自動生成
$spacePaddingEm: true !default;
$spacePaddingEmEndValue: 10 !default;

@if $spacePaddingEm {
    @for $i from 0 through $spacePaddingEmEndValue {
        $iCount: #{$i/4};
        .hp_pt#{str-replace(".", "_", $iCount, true)}e {margin-top: .25em * $i !important;}
        .hp_pb#{str-replace(".", "_", $iCount, true)}e {margin-bottom: .25em * $i !important;}
    }
}

//コンテンツエリアパディング
.hp_containerPT {//上側パディング指定
    padding-top: $containerPadding!important;
    @include media(sm) {
        padding-top: $containerPadding_sm!important;
    }
}

.hp_containerPB {//下側パディング指定
    padding-bottom: $containerPadding!important;
    @include media(sm) {
        padding-bottom: $containerPadding_sm!important;
    }
}

//--------------------------------
//  デスクトップ幅のみ適用
//--------------------------------
@include media(lg) {
    //単位pxごとの絶対値自動生成
    $spacePaddingPxLg: true !default;
    $spacePaddingPxEndValue: 10 !default;

    @if $spacePaddingPxLg {
        @for $i from 0 through $spacePaddingPxEndValue {
            .lg_pt#{$i*5} {padding-top: 5px * $i !important;}
            .lg_pb#{$i*5} {padding-bottom: 5px * $i !important;}
        }
    }

    //単位emごとの絶対値自動生成
    $spacePaddingEmLg: true !default;
    $spacePaddingEmEndValue: 10 !default;

    @if $spacePaddingEmLg {
        @for $i from 0 through $spacePaddingEmEndValue {
            $iCount: #{$i/4};
            .lg_pt#{str-replace(".", "_", $iCount, true)}e {margin-top: .25em * $i !important;}
            .lg_pb#{str-replace(".", "_", $iCount, true)}e {margin-bottom: .25em * $i !important;}
        }
    }
}

//--------------------------------
//  タブレット幅のみ適用
//--------------------------------
@include media(md) {
    //単位pxごとの絶対値自動生成
    $spacePaddingPxMd: true !default;

    @if $spacePaddingPxMd {
        @for $i from 0 through $spacePaddingPxEndValue {
            .md_pt#{$i*5} {padding-top: 5px * $i !important;}
            .md_pb#{$i*5} {padding-bottom: 5px * $i !important;}
        }
    }

    //単位emごとの絶対値自動生成
    $spacePaddingEmMd: true !default;

    @if $spacePaddingEmMd {
        @for $i from 0 through $spacePaddingEmEndValue {
            $iCount: #{$i/4};
            .md_pt#{str-replace(".", "_", $iCount, true)}e {margin-top: .25em * $i !important;}
            .md_pb#{str-replace(".", "_", $iCount, true)}e {margin-bottom: .25em * $i !important;}
        }
    }
}

//--------------------------------
//  スマートフォン幅のみ適用
//--------------------------------
@include media(sm) {
    //単位pxごとの絶対値自動生成
    $spacePaddingPxSm: true !default;


    @if $spacePaddingPxSm {
        @for $i from 0 through $spacePaddingPxEndValue {
            .sm_pt#{$i*5} {padding-top: 5px * $i !important;}
            .sm_pb#{$i*5} {padding-bottom: 5px * $i !important;}
        }
    }

    //単位emごとの絶対値自動生成
    $spacePaddingEmSm: true !default;

    @if $spacePaddingEmSm {
        @for $i from 0 through $spacePaddingEmEndValue {
            $iCount: #{$i/4};
            .sm_pt#{str-replace(".", "_", $iCount, true)}e {margin-top: .25em * $i !important;}
            .sm_pb#{str-replace(".", "_", $iCount, true)}e {margin-bottom: .25em * $i !important;}
        }
    }
}