/*--------------------------------
    デフォルトフォントサイズ
--------------------------------*/
/*------ 見出し -------*/
h1 {
    @include fontSize(28);
    font-weight: bold;
    @include media(sm) {
        @include fontSize(22);
    }
}

h2 {
    @include fontSize(24);
    font-weight: bold;
    @include media(sm) {
        @include fontSize(22);
    }
}

h3 {
    @include fontSize(20);
    font-weight: bold;
    @include media(sm) {
        @include fontSize(18);
    }
}

h4 {
    @include fontSize(16);
    font-weight: bold;
    @include media(sm) {
        @include fontSize(16);
    }
}

h5 {
    @include fontSize(16);
    @include media(sm) {
        @include fontSize(16);
    }
}

h6 {
    @include fontSize(16);
    @include media(sm) {
        @include fontSize(16);
    }
}

/*------ 段落 -------*/
p {
    @include fontSize(16);
    @include media(sm) {
        @include fontSize(16);
    }
}